@use "variables" as *;

// Властивість display
@each $value in $display-values {
  .d-#{$value} {
    display: $value;
  }
}

// Властивість position
@each $value in $position-values {
  .p-#{$value} {
    position: $value;
  }
}

// Контент для screen-readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Переповнення текстових блоків
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Центрування для тексту
.text-center {
  text-align: center;
}

// Властивість overflow
@each $value in $overflow-values {
  .overflow-#{$value} {
    overflow: $value;
  }
}

// Властивість text-transform
@each $value in $text-transform-values {
  .text-#{$value} {
    text-transform: $value;
  }
}

// Властивість opacity
@each $value in $opacity-values {
  .opacity-#{$value} {
    opacity: #{($value / 100)};
  }
}

// Властив ість cursor
@each $value in $cursor-values {
  .cursor-#{$value} {
    cursor: $value;
  }
}